:host {
  display: block;
  background-color: #fdf8ed; /* Fondo beige suave */
  padding: 30px;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: #5d5a4d;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: white;
  box-sizing: border-box;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

form input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 2px solid #f09431;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #4a3f35;
  outline: none;
}

form button {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  background-color: #f09431;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

form button:hover {
  background-color: #f05a31;
  transform: scale(1.05);
}

form .error {
  margin-top: 15px;
  font-weight: bold;
  color: #ff4c4c; /* rojo para error */
}

/* crear cuenta */
.crear-cuenta {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.crear-cuenta a {
  color: #ff7410;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.crear-cuenta a:hover {
  color: #c52e0d;
  text-decoration: underline;
}

