
<div class="login-container">
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="onLogin()">
    <label for="usuario">Usuario</label>
    <input id="usuario" [(ngModel)]="usuario" name="usuario" required>

    <label for="clave">Contraseña</label>
    <input id="clave" type="password" [(ngModel)]="clave" name="clave" required>

    <button type="submit">Entrar</button>

<p class="crear-cuenta">
  ¿No tienes cuenta? <a routerLink="/usuario">Crear cuenta</a>
</p>


    <p class="error" *ngIf="error">{{ error }}</p>
  </form>
</div>
