<!-- vita usuario -->

<!-- Barra superior -->
<nav class="navbar" *ngIf="rol === 'usuario'">
  <div class="navbar-logo">🪑 Mueblería Don Pepe</div>

 <button class="menu-toggle" (click)="menuAbierto = !menuAbierto">
    ☰
  </button>

  <ul class="navbar-links" [class.open]="menuAbierto">
    <li class="stock"><a (click)="vistaSeleccionada = 'stock'">Ver Stock</a></li>
    <li class="agregarMueble"><a (click)="vistaSeleccionada = 'agregarMueble'">Agregar Mueble</a></li>
    <li class="proveedores"><a (click)="vistaSeleccionada = 'proveedores'">Ver Proveedores</a></li>
    <li class="reportes"><a (click)="vistaSeleccionada = 'reportes'">Generar Reporte</a></li>
    <li class="cerrar"><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
    </ul>
  </nav>

  <!-- TÍTULO -->
<h2>Bienvenido a la sección Usuario Mueblería</h2>

<!-- Contenido correspondiente a cada vista -->
<div class="contenido">
  <app-stock *ngIf="vistaSeleccionada === 'stock'"></app-stock>
  <app-muebles-crud *ngIf="vistaSeleccionada === 'agregarMueble'"></app-muebles-crud>
  <app-proveedores *ngIf="vistaSeleccionada === 'proveedores'"></app-proveedores>
  <app-ventas-report *ngIf="vistaSeleccionada === 'reportes'"></app-ventas-report>
</div>


<!-- Footer -->
<div class="footer">
  © 2025 Mueblería. Todos los derechos reservados.
</div>


