<h2>Bienvenido a la sección Usuario Mueblería</h2>

<!-- Solo visible para Usuario -->
<div *ngIf="rol === 'usuario'">
  <h3>Panel de Usuario</h3>
  <h4>Selecciona lo que deseas hacer</h4>

  <div class="menu">
    <button (click)="vistaSeleccionada = 'stock'">Ver Stock</button>
    <button (click)="vistaSeleccionada = 'agregarMueble'">Agregar Mueble</button>
    <button (click)="vistaSeleccionada = 'proveedores'">Ver Proveedores</button>
    <button (click)="vistaSeleccionada = 'reportes'">Generar Reporte</button>
  </div>
</div>

<!-- Contenido correspondiente a cada vista -->
<div class="contenido">
  <app-stock *ngIf="vistaSeleccionada === 'stock'"></app-stock>
  <app-muebles-crud *ngIf="vistaSeleccionada === 'agregarMueble'"></app-muebles-crud>
  <app-proveedores *ngIf="vistaSeleccionada === 'proveedores'"></app-proveedores>
  <app-ventas-report *ngIf="vistaSeleccionada === 'reportes'"></app-ventas-report>
</div>


<!-- Footer -->
<div class="footer">
  © 2025 Mueblería. Todos los derechos reservados.
</div>


