<h2>Crear Nuevo Usuario</h2>

<form (ngSubmit)="crearUsuario()" #form="ngForm">
  <label>
    Nombre de usuario:
    <input type="text" name="nombre" [(ngModel)]="nombre" required />
  </label>

  <label>
    Contraseña:
    <input type="password" name="password" [(ngModel)]="password" required />
  </label>


  <button type="submit" [disabled]="form.invalid">Crear Usuario</button>
</form>

<!-- Solo se muestra si el usuario es admin -->
<div *ngIf="isAdmin">
  <hr />
  <h2>📋 Lista de Usuarios</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>
            <select [(ngModel)]="usuario.rol" name="rol_{{ usuario.id }}">
            <option value="USUARIO">USUARIO</option>
            <option value="ADMIN">ADMIN</option>
          </select>
        </td>
        <td>
         <div class="acciones-btns" *ngIf="isAdmin">
            <button class="btn-guardar" (click)="actualizarRol(usuario)">💾 Guardar</button>
            <button class="btn-eliminar" (click)="eliminarUsuario(usuario.id)">🗑️ Eliminar</button>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>