<!-- VISTA ADMIN -->

<!-- Barra superior -->
@if (rol === 'admin') {
  <nav class="navbar">
    <div class="navbar-logo">🪑 Mueblería Don Pepe</div>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <ul class="navbar-links" [ngClass]="{ 'open': menuAbierto }">
      <!-- Stock -->
      <li class="stock">
        <a href="#">Stock</a>
        <ul class="submenu">
          <li><a (click)="vistaSeleccionada = 'stock'">Ver stock</a></li>
        </ul>
      </li>
      <!-- Agregar Muebles -->
      <li class="mueble">
        <a href="#">Muebles</a>
        <ul class="submenu">
          <li><a (click)="vistaSeleccionada = 'agregarMueble'">Ver muebles</a></li>
          <li><a href="#">Agregar mueble</a></li>
          <li><a href="#">Editar mueble</a></li>
          <li><a href="#">Eliminar mueble</a></li>
        </ul>
      </li>
      <!-- Materiales -->
      <li class="materiales">
        <a href="#">Materiales</a>
        <ul class="submenu">
          <li><a href="#">Ver materiales</a></li>
          <li><a href="#">Agregar material</a></li>
          <li><a href="#">Editar material</a></li>
          <li><a href="#">Eliminar material</a></li>
        </ul>
      </li>
      <!-- Proveedores -->
      <li class="proveedores">
        <a href="#">Proveedores</a>
        <ul class="submenu">
          <li><a (click)="vistaSeleccionada = 'proveedores'">Listado de proveedores</a></li>
          <li><a href="#">Agregar proveedor</a></li>
          <li><a href="#">Editar proveedor</a></li>
          <li><a href="#">Eliminar proveedor</a></li>
        </ul>
      </li>
      <!-- Reportes -->
      <li class="reportes">
        <a href="#">Reportes</a>
        <ul class="submenu">
          <li><a (click)="vistaSeleccionada = 'reportes'">Inventario actual</a></li>
          <li><a href="#">Descargar PDF</a></li>
          <li><a href="#">Descargar Excel</a></li>
        </ul>
      </li>
      <!-- Cerrar sesión -->
      <li class="cerrar">
        <a (click)="cerrarSesion()">🔒 Cerrar sesión</a>
      </li>
    </ul>
  </nav>
}

<!-- TÍTULO -->
<h2>Bienvenido a la sección Administrador Mueblería</h2>

<!-- Contenido correspondiente a cada vista -->
<div class="contenido">
  @if (vistaSeleccionada === 'stock') {
    <app-stock></app-stock>
  }
  @if (vistaSeleccionada === 'agregarMueble') {
    <app-muebles-crud></app-muebles-crud>
  }
  @if (vistaSeleccionada === 'materiales') {
    <app-materiales-crud></app-materiales-crud>
  }
  @if (vistaSeleccionada === 'proveedores') {
    <app-proveedores></app-proveedores>
  }
  @if (vistaSeleccionada === 'reportes') {
    <app-ventas-report></app-ventas-report>
  }
</div>

<!-- Footer -->
<div class="footer">
  © 2025 Mueblería. Todos los derechos reservados.
</div>
