<h2>Bienvenido a la vista ADMIN</h2>

<!-- Secciones solo visibles para admin -->
<div *ngIf="rol === 'admin'">
  <h1>Bienvenido Admin</h1>
<nav>
  <a routerLink="dashboard">Dashboard</a> |
  <a routerLink="stock">Stock</a> |
  <a routerLink="ventas">Ventas</a>
</nav>
<hr>
<router-outlet></router-outlet>

</div>

<!-- Secciones comunes -->
<a routerLink="stock">Ver Stock</a>
<a routerLink="reportes">Ver Reportes</a>

<router-outlet></router-outlet>

  <div class="footer">
    © 2025 Mueblería. Todos los derechos reservados.
  </div>
</div>
