<h2>MUEBLERIA DON PEPE</h2>
<p>Bienvenido al inventario mueblería</p>

<button (click)="logout()" class="btn cerrar">Cerrar sesión</button>

<nav *ngIf="rol" class="navbar">
  <ul class="navbar-links">
    <li class="muebles"><a routerLink="muebles">Muebles</a></li>
    <li class="materiales"><a routerLink="materiales">Materiales</a></li>
    <li class="proveedores"><a routerLink="proveedores">Proveedores</a></li>
    <li class="ventas"><a routerLink="ventas">Ventas</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
